<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <title>forematrics pharma</title>
</head>
<body>
    <section id="header">
        <nav class="navbar bgcolor" id="navbar">
            <ul class="nav-list">
                <li class="logo"><a href="#home"><img src="../img/logo.jpeg"></a></li>
                <li><a href="home.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="products.html">products</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>   
    </section>
    
    <section class="background firstsection">
        <div class="box-main">
            <div class="firsthalf">
            <img src="../img/company.jpg" alt="none"></div>
            <div class="secondhalf">
                <p class="text-subtitle">welcome to forematrics pharma</p>
                <p class="text-title">WHO ARE WE?</p>
                <p class="text-paragraph">With over 3 decades of experience and visionary leadership, 
                    forematrics Pharma is a renowned name in the field of contract manufacturing of pharmaceutical products. 
                    We have established a name in the field of developing, 
                    manufacturing and delivering superior quality products through our state-of-the-art manufacturing facilities and an on-site lab for quality control (QC). 
                    The company is equipped with ultra-modern state-of-the-art equipment and the finest labs that create nothing but chemical magic.
                </p>
            <button class="btn">know more</button>
            <button class="btn">get in touch</button>
    </section>

    <section class="background" id="home">
        <div class="box-main">
            <div class="firsthalf">
            <img src="../img/company.jpg" alt="none"></div>
            <div class="secondhalf">
                <p class="text-subtitle">welcome to forematrics pharma</p>
                <p class="text-title">WHO ARE WE?</p>
                <p class="text-paragraph">With over 3 decades of experience and visionary leadership, 
                    forematrics Pharma is a renowned name in the field of contract manufacturing of pharmaceutical products. 
                    We have established a name in the field of developing, 
                    manufacturing and delivering superior quality products through our state-of-the-art manufacturing facilities and an on-site lab for quality control (QC). 
                    The company is equipped with ultra-modern state-of-the-art equipment and the finest labs that create nothing but chemical magic.
                </p>
            <button class="btn">know more</button>
            <button class="btn">get in touch</button>
    </section>
    <section id="contact">
        <p class="text-subtitle">contact no.</p>
    </section>>
</body>
</html>